/* IMPORTANT: map must have height */
#map {
    height: 600px;
    width: 100%;
    border-radius: 12px;
}

/* Marker base */
.custom-marker {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

/* Status colors */
.marker-full {
    background-color: red;
}

.marker-partial {
    background-color: orange;
}

.marker-empty {
    background-color: green;
}

.marker-offline {
    background-color: gray;
}